#languageDropdown.dropdown-toggle::after {
    display: none;
}


.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    padding-left: 10px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-toggle::after {
    color: #fff; /* Set the color of the icon */
}